
.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Esto lo centrará verticalmente */
  width: 100vw;            /* Fuerza a ocupar todo el ancho */
  min-height: 100vh;
  background-color: #f5f5f5;
  margin: 0;               /* Quita márgenes externos */
  padding: 20px;           
}

.register-card {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.register-title {
  background-color: #ffda79;
  width: 100%;
  padding: 15px;
  text-align: center;
  margin-bottom: 30px;
  color: #333;
  border-radius: 5px;
  font-weight: bold;     
  font-size: 1.5rem;      
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;

}

.register-form input {
  background-color: #e8f0fe; /* El azul clarito del mockup */
  border: 1px solid #002d55;  /* Borde azul oscuro para que resalte */
  padding: 12px;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;     /* Para que el padding no ensanche el input */
  outline: none;              /* Quita el borde por defecto al hacer click */
}

/* Para que cuando el usuario escriba, el fondo siga siendo el mismo */
.register-form input:focus {
  background-color: #e8f0fe;
  border: 2px solid #002d55;
}
.input-group {
  display: flex;
  flex-direction: column;
  gap: 5px;

}

.btn-accept {
  background-color: #002d55; 
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 10px;      /* 10px para ir a juego con la landing */
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
  transition: background 0.2s;
}

.btn-accept:hover {
  background-color: #00407a;
}