* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Evita desplazamientos laterales de la página */
}

.landing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  background-color: #f5f5f5; 
  font-family: sans-serif;
  text-align: center;
}

.header {
  display: flex;
  flex-wrap: wrap;       /* Si no cabe, el título bajará en lugar de cortarse */
  justify-content: center;
  align-items: center;
  gap: 30px;            /* Un poco más de espacio entre logo y texto */
  margin-bottom: 60px;
  width: 90%;           /* Para que no toque los bordes de la pantalla */
  max-width: 1200px;    /* Límite para que no se estire infinito en monitores pro */
}

.logo {
  width: 230px; /
}

.title {
  color: #002d55; 
  font-size: clamp(1.5rem, 5vw, 2.5rem); /* Tamaño dinámico según la pantalla */
  font-weight: bold;
}

.button-section {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.button-group p {
  font-size: 0.9rem;
  margin-bottom: 10px;
  color: #333;
}

.btn-yellow {
  background-color: #ffda79; 
  border: none;
  padding: 15px 80px;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.btn-yellow:hover {
  transform: scale(1.05);
}
